body {
    font-family: Arial, sans-serif;
}

#game {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.player {
    margin: 0 20px;
}

.army {
    margin-top: 10px;
}
